body {
    margin: 0; 
    height: 100vh; /* Garante que o body tenha a altura da tela inteira */
    background-image: url('img/wpp.jpg'); /* Caminho da sua imagem */
    background-size: cover; /* Faz a imagem preencher todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
