/* HTML e Body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

/* Background */
body {
    background: url('img/wpp.jpg') no-repeat center center;
    background-size: cover;
}

/* ==========================
   Janelas e Cards
========================== */
.card-window {
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.card-window.maximized {
    width: 1100px;
    height: 600px;
}

.title-bar {
    background: linear-gradient(180deg, #ff94c2 0%, #ff4e6b 100%);
    border-color: #e1006b;
}

.title-bar:has(.title-bar-text-custom){
    cursor: grab;
}

.title-bar-text-custom {
    margin-left: 8px;
}

.title-bar-text-custom.dragging {
    cursor: grabbing;
}

/* ==========================
   Estrutura do Corpo da Janela
========================== */
.window-body {
    display: flex;
    gap: 10px;
    height: calc(100% - 30px);
    font-size: 14px;
}


/* --------------------------
   Lado Esquerdo
-------------------------- */
.lado-esquerdo {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 180px;
    border: 1px solid black;
    margin-bottom: 10px;
    box-shadow: inset -2px -2px 0 #fff,
        inset 2px 2px 0 #808080,
        2px 2px 0 #808080;
}

.panel-left {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    min-height: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo button {
    width: 100%;
    margin: 2px;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: rgba(255, 78, 108, 0.57);
    color: #8a064f;
}

.btn-icon:hover {
    background-color: #ffb2d9;
}

.btn-icon:active {
    transform: translateY(3px);
}

.platform-icon {
    width: 15px;
    height: 15px;
}

.sidebar-note {
    text-align: center;
    font-size: 14px;
    margin: 0;
}

/* --------------------------
   Lado Direito
-------------------------- */
.lado-direito {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    min-width: 0;
}

.panel-right {
    flex: 1;
    overflow: auto;
    padding: 10px 0 0 10px;
}

.panel-right .table-view__row {
    white-space: nowrap;
}

/* ==========================
   Tipografia e Textos
========================== */
.row-head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
}

.row-subtitle {
    font-size: 15px;
    margin-bottom: 7px;
}

.pink {
    color: rgb(255, 78, 107);
}

.titulo {
    font-size: 20px;
    display: block;
    margin: 10px 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}

a {
    color: rgba(255, 78, 108, 0.57);
    text-decoration: underline;
}

/* ==========================
   Imagens e Figuras
========================== */
.fixed-picture {
    max-width: 100%;
    height: auto;
}

/* ==========================
   Retro Player / Música
========================== */
.retro-player {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-family: Tahoma;
    font-size: 12px;
}

.retro-player button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.retro-player button:hover {
    transform: scale(1.2);
}

.retro-player button:active {
    transform: scale(0.9) rotate(-10deg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.mp3-label {
    font-weight: bold;
}

.volume {
    font-size: 12px;
}

/* --------------------------
   Barras de música
-------------------------- */
.bars,
#bars {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    width: 100%;
    height: 12px;
    overflow: hidden;
}

.bars span,
#bars span {
    display: block;
    width: 5px;
    height: 3px;
    background: black;
    transition: height 0.2s;
}

.playing span {
    animation: equalizer 1s infinite ease-in-out;
}

.bars span:nth-child(8n+1) {
    animation-delay: 0s;
}

.bars span:nth-child(8n+2) {
    animation-delay: .1s;
}

.bars span:nth-child(8n+3) {
    animation-delay: .2s;
}

.bars span:nth-child(8n+4) {
    animation-delay: .3s;
}

.bars span:nth-child(8n+5) {
    animation-delay: .4s;
}

.bars span:nth-child(8n+6) {
    animation-delay: .5s;
}

.bars span:nth-child(8n+7) {
    animation-delay: .6s;
}

.bars span:nth-child(8n+8) {
    animation-delay: .7s;
}

@keyframes equalizer {

    0%,
    100% {
        height: 3px;
    }

    50% {
        height: 12px;
    }
}

/* ==========================
   Music Window
========================== */
.music-window {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom:2px;
}