@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Substitui Geist e Geist Mono */
  --font-sans: "Pixelated MS Sans Serif", Arial, sans-serif;
  --font-mono: "Pixelated MS Sans Serif", Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: url('/img/background/wpp.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
}

* {
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
}